<ion-header>

  <ion-navbar color="header">
      <ion-title>CMS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <h5>Change Passwrod</h5>
  <form [formGroup]="changepass" (ngSubmit)="changePass()">
    <ion-item>
        <ion-label floating>Old Password</ion-label>
        <ion-input type="text" formControlName="oldpassword"></ion-input>
    </ion-item>
    <div padding-horizontal>
        <div class="alert" *ngIf="!changepass.controls['oldpassword'].valid && changepass.controls['oldpassword'].touched">Please Enter old password</div>
    </div>
    <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="text" formControlName="newpassword"></ion-input>
    </ion-item>
    <div padding-horizontal>
        <div class="alert" *ngIf="!changepass.controls['newpassword'].valid && changepass.controls['newpassword'].touched">Please Enter new password</div>
    </div>
    <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmpassword"></ion-input>
    </ion-item>
    <div padding-horizontal>
        <div class="alert" *ngIf="!changepass.controls['confirmpassword'].valid && changepass.controls['confirmpassword'].touched">Please Enter confirm password</div>
    </div>
    <!-- Float the icon right -->
    <div class="button_div">
        <button ion-button [disabled]="!changepass.valid" block icon-right>
           Change Password
        </button>
    </div>
</form>
</ion-content>
