<ion-header>

    <ion-navbar color="header">
        <!-- <ion-buttons left>
            <button ion-button icon-only (click)="close()">
                        <ion-icon name="md-close-circle"></ion-icon>
                    </button>
        </ion-buttons> -->
        <ion-title>Report</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                <ion-icon name="refresh"></ion-icon>
            </button>
    </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col col-6>
            <ion-item (click)="opencal('From')">
                <ion-label class="marginlbl">{{ From }}</ion-label>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item (click)="opencal('To')">
                <ion-label class="marginlbl">{{ To }}</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-item>
            <ion-label>Select Customer</ion-label>
            <select-searchable 
                item-content
                [(ngModel)]="Customer"
                [items]="CustomerList"
                itemValueField="SOD_CustomerId"
                itemTextField="SOD_CustomerName"
                [canSearch]="true"
                (onChange)="customerChange($event)" >
            </select-searchable>
        </ion-item>
        <ion-item>
                <ion-label>Select Product Name</ion-label>
                <select-searchable 
                    item-content
                    [(ngModel)]="product"
                    [items]="ProductList"
                    itemValueField="SOD_ProductId"
                    itemTextField="SOD_ProductName"
                    [canSearch]="true"
                    (onChange)="productChange($event)" >
                </select-searchable>
            </ion-item>
     <ion-item>
            <ion-label>Select Status</ion-label>
          <ion-select interface="popover" [(ngModel)]="status" >
            <ion-option *ngFor="let status of StatusList" [value]="status">{{status.Status}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Select Employee</ion-label>
          <ion-select interface="popover" [(ngModel)]="employee"  >
            <ion-option *ngFor="let employee of EmpList" [value]="employee">{{employee.SOD_Employee}}</ion-option>
          </ion-select>
        </ion-item>

    <div class="button_div">
        <button ion-button block icon-right (click)="view()">
             View Reports
        </button>
    </div>
</ion-content>
